<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Picture Master.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1C20F9071D533A3800C27BE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C20F91B1D533A3800C27BE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C20F9261D533A3800C27BE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
